body{
    background-color: #e0e3ef;
}

.main-class{
    color: black;
    font-size: 25px;
    list-style: none;     
}

.main-class-item {
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 2px;
    display:flex;
}

.main-class-item:hover{
    color: blue;
}

h1{
    color: black;
    padding-left: 5pxs;
    
}
.main-class-pic {
    display: block;
}
